slicer/anycubic/for_marlin/**/filament/
slicer/anycubic/for_marlin/**/print/
slicer/anycubic/for_marlin/**/printer/
slicer/anycubic/for_marlin/**/definitions/
slicer/anycubic/for_marlin/**/extruders/
slicer/anycubic/for_marlin/**/quality/

slicer/ender3/for_klipper/**/filament/
slicer/ender3/for_klipper/**/print/
slicer/ender3/for_klipper/**/printer/
slicer/ender3/for_klipper/**/definitions/
slicer/ender3/for_klipper/**/extruders/
slicer/ender3/for_klipper/**/quality/
